/build/
/.Xil/
/bsg_link_vivado.cache/
/bsg_link_vivado.gen/
/bsg_link_vivado.hw/
/bsg_link_vivado.ip_user_files/
/bsg_link_vivado.runs/
/bsg_link_vivado.sim/
/bsg_link_vivado.srcs/
/bsg_link_vivado.xpr
/bsg_link_vivado.xpr.bak
/vivado*.jou
/vivado*.log
/vivado*.str
/constraints/reports/

# xsim artifacts
sim/xsim.dir/
sim/xsim.ini
sim/xsim.jou
sim/xsim.log
sim/xsim.tcl
sim/xelab.log
sim/xelab.pb
sim/xvlog.log
sim/xvlog.pb
sim/sim_snap.wdb
sim/open_wave.tcl

# VCS artifacts
sim/csrc/
sim/simv
sim/simv.daidir/
sim/ucli.key
sim/vc_hdrs.h
sim/novas_dump.log
sim/waveform.fsdb
sim/filelist

# Vivado logs in sim/
sim/vivado*.jou
sim/vivado*.log
sim/vivado*.str
sim/sim.log

